.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  z-index: 25;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-icon-container {
  padding: 0 20px;
}

.logo {
  height: 30px;
}

.hamburger-icon {
  width: 20px;
  cursor: pointer;
}
